{# {% apply inline_css(source('@styles/style.css')) %} #}
{# {% apply inline_css(source('@styles/style.css')) %}
<h1>Hello la famille</h1>

{% block body %}{% endblock %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae suscipit tempora necessitatibus dignis</p

{% if traker is defined %}
<img src="https://aykode.com/images/8601571909526073.png" alt="img2" width= "120px">
{% endif %}



{% endapply %}
 #}


{% apply inline_css(source('@styles/style.css')) %}

<!doctype html>
<html>


    <body>
        <div class="container">
        {% block body %}{% endblock %}

    
            {% if tracker is defined %}

                {% if tracker == true %}
                {# https://localhost:8000/tracking/1.png #}

                 <p><img src=  {{ url('app_tracking')~'?id={{lead.id}}'~'stepId={{step.id}}' }} ></p> 

                {#<p><img src= {{ url('app_tracking_2',{'id': lead.id, 'stepId': stepId}) }} width = "50"></p>#}
                {% endif %}

             {% endif %}

        </div>


    </body>
</html>
{% endapply %}

