{% extends "mail/send/base.html.twig" %}
{% block body %}


<p style="color: blue;"><strong>Ceci est une entree en action</strong></p>
<p>&nbsp;</p>
<h1><strong>Coordialement mr {{lead.name}}</strong></h1>
<p>&nbsp;</p>
<p style="color: red;">U petit peu de lorem ipsum</p>

{% endblock %}