{% extends "mail/send/base.html.twig" %}
{% block body %}


<h2>hellooo et bonjour {{lead.name}}</h2>
<p class="grey" style="color: green;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem earum, quam hic nam accusamus similique voluptas unde enim quas pariatur nobis dolores doloremque numquam accusantium. Dicta porro sapiente rem.</p>
<div class="div flex">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda, mollitia earum rem saepe .</p>
<img src="{{email.image('@images/image1.png')}}" alt="logo" width="175px"></div>
<h1 class="div flex"><img src="https://app.clemaos.com/assets/images/15091571908916131.png" alt="image " width="94" height="68">hohoho</h1>
<h2>Welcome {{ email.toName }}!</h2>
<p>Vous Recevez ce message parce que votre email {{lead.emailAddress}} est abonn&eacute; au newsletter</p>
<p><strong>hehofff</strong></p>

{% endblock %}