{% extends "mail/send/base.html.twig" %}
{% block body %}


<p><strong>Hello La compaignie</strong></p>
<p>&nbsp;</p>
<p>Ceci est un premier test</p>
<p>&nbsp;</p>
<p style="color: red;">coordialement</p>

{% endblock %}