{% extends "mail/send/base.html.twig" %}
{% block body %}


<p><span style="background-color: #f1c40f;"><strong>kkklk,</strong></span></p>
<p>&nbsp;</p>
<p><strong>hello</strong></p>
<p><span style="color: #f1c40f;"><code>comme</code></span></p>
<p><span style="color: #f1c40f;"><span style="color: #e03e2d;">Comment vous allez..</span></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 100%;">&nbsp;</td>
</tr>
</tbody>
</table>

{% endblock %}