{% extends "mail/send/base.html.twig" %}
{% block body %}


<p>Good Morning mr&nbsp;<strong style="color: green;">{{lead.name}}</strong>.</p>
<p>Je vous avais contact&eacute; sur l'email {{lead.emailAddress}} pour vous annoncer que nous allons lancer notre service d'abonnement tres prochainement.</p>
<p>&nbsp;</p>
<div style="display: flex;">
<div><img src="../../../assets/images/35531571923175079.png" alt="yo" width="56" height="40"> item2</div>
</div>
<p style="color: maroon;">Coordialement</p>

{% endblock %}