{% extends "mail/send/base.html.twig" %}
{% block body %}


<div>
    <figure class="attachment attachment--preview attachment--jpg">
        <a href="https://localhost:8000/assets/images/mail/2023-03-15_1678913942410-9791571658072371.jpg?content-disposition=attachment">
            <img src="https://localhost:8000/assets/images/mail/2023-03-15_1678913942410-9791571658072371.jpg" width="700" height="610">
            <figcaption class="attachment__caption">
                <span class="attachment__name">9791571658072371.jpg</span>
                <span class="attachment__size">67.26 KB</span>
            </figcaption>
            </a>
    </figure>
    <p>ff</p> <br><br>
</div>

{% endblock %}