{% extends "mail/send/base.html.twig" %}
{% block body %}


<h2>hellooo et bonjour {{lead.name}}</h2>
<p class="grey" style="color: green;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem earum, quam hic nam accusamus similique voluptas unde enim quas pariatur nobis dolores doloremque numquam accusantium. Dicta porro sapiente rem.</p>
<div class="div flex">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda, mollitia earum rem saepe .</p>
<table style="border-collapse: collapse; width: 100%; border-style: none;" border="1"><colgroup><col style="width: 22.2317%;"><col style="width: 77.7683%;"></colgroup>
<tbody>
<tr>
<td><img src="https://cdn.pixabay.com/photo/2015/10/09/00/55/lotus-978659_960_720.jpg" alt="hy" width="96" height="64"></td>
<td><strong style="color: maroon;">anoder bunger</strong></td>
</tr>
</tbody>
</table>
</div>
<h2>Welcome {{ email.toName }}!</h2>
<div style="display: flex; align-items: center; justify-content: start;">
<div style="width: 50px;">item 1</div>
<div style="width: 100px;">item 2</div>
</div>
<p>Vous Recevez ce message parce que votre email {{lead.emailAddress}} est abonn&eacute; au newsletter</p>
<p><strong>hehofff</strong></p>
<p>&nbsp;</p>
<p><strong>hihihi</strong></p>

{% endblock %}