{% extends "mail/send/base.html.twig" %}
{% block body %}


<div>gddg<br><br><br><figure data-trix-attachment="{&quot;contentType&quot;:&quot;image/png&quot;,&quot;filename&quot;:&quot;15611570806739656.png&quot;,&quot;filesize&quot;:1755,&quot;height&quot;:60,&quot;href&quot;:&quot;https://localhost:8000/assets/images/mail/15611570806739656-641144d23df53.png&quot;,&quot;url&quot;:&quot;https://localhost:8000/assets/images/mail/15611570806739656-641144d23df53.png&quot;,&quot;width&quot;:60}" data-trix-content-type="image/png" data-trix-attributes="{&quot;presentation&quot;:&quot;gallery&quot;}" class="attachment attachment--preview attachment--png"><a href="https://localhost:8000/assets/images/mail/15611570806739656-641144d23df53.png"><img src="https://localhost:8000/assets/images/mail/15611570806739656-641144d23df53.png" width="60" height="60"><figcaption class="attachment__caption"><span class="attachment__name">15611570806739656.png</span> <span class="attachment__size">1.71 KB</span></figcaption></a></figure></div>

{% endblock %}