/* h1 {
    color: #ec3f3f;
} */
.grey{
    color: grey;
}
.flex{
    display:flex ;
    justify-content: center;
    align-items: center;
    color: rgba(133, 194, 34, 0.753)
}

.green{
    color: green;
}