
{% extends "base.html.twig" %}

{% block body %}
    <!doctype html>
    <html>

    
        <body>
            <h1>hellooo et bonjour {{lead.name}}</h1>
            <p class = 'grey'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem earum, quam hic nam accusamus similique voluptas unde enim quas pariatur nobis dolores doloremque numquam accusantium. Dicta porro sapiente rem.
            </p>
            <div class="div flex">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda, mollitia earum rem saepe .
                </p>
                <img src='cid:image1' alt="image"  width = '175px'>

            </div>
            <h1>Welcome {{ email.toName }}!</h1>
            <p>Vous Recevez ce message parce que votre email {{lead.emailAddress}} est abonné au newsletter</p>
            
        </body>
    </html>
{% endblock %}