.aside-dw div {
    margin-top: 25px;
  }

aside{
  background-color: #F0F3F5;
  color: #384659;
}
aside .nav-link{
  color: #384659;
}
aside .nav-link:hover{
  color: white;
}

aside .nav-item:hover{
  background-color: #0d6dfdad;
  color: white;
}

#logo{
  font-size: x-large;
  color: #0D6EFD;
}


#mycontainer{
  min-height: 100vb;
}