
{% apply inline_css(source('@styles/style.css')) %}

    <!doctype html>
    <html>

    
        <body>
            <h1>hellooo {{lead.name}}</h1>
            <p class = 'grey'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem earum, quam hic nam accusamus similique voluptas unde enim quas pariatur nobis dolores doloremque numquam accusantium. Dicta porro sapiente rem.
            </p>
            <h1>Welcome {{ email.toName }}!</h1>
            <p>Vous Recevez ce message parce que votre email {{lead.emailAddress}} est abonné au newsletter</p>
            
        </body>
    </html>
{% endapply %}